body {
    font-family: Arial, sans-serif;
    background: linear-gradient(152deg, rgba(95, 168, 153, 0.827) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .converter {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(152deg, rgba(239, 224, 16, 0.827) 0%, rgb(148, 77, 199) 100%);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultContainer {
    margin-top: 20px;
  }
  